/*======= Remove default styles by the browser =========*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Helvetica", sans-serif;
  font-size: 1.375rem;
  color: seashell;
  background-color: #000;
  opacity: 0.9;
  text-align: center;
}

/* Nav Bar */
nav {
  border-bottom: 1px solid #fff5ee;
  width: 100%;
  height: 4.3125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
}

nav img {
  height: 3.125rem;
  margin-left: 10px;
}
nav li {
  display: inline-block;
}
nav li:not(:last-child) {
  margin-right: 10px;
}

nav a,
nav a:active,
nav a:link {
  color: #fff5ee;
}
nav a:hover {
  color: #ffccaa;
}

/* Hero Banner Header */

#banner {
  width: 90%;
  height: 43.75rem;

  background-image: url("../images/img-mission-background.jpeg");
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  margin-top: 4.3125rem;
  margin-bottom: 8rem;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  /* justify-content: space-around; */
}
.banner__heading {
  background-color: black;
  width: 100%;
  padding: 20px;
}
.banner__heading h2 {
  font-size: 2rem;
}
.banner__heading h2,
.banner__heading h4 {
  margin: 10px;
}

/* First Section */

#tea-month {
  width: 80%;
  margin: 50px auto;
}
h2,
h4 {
  margin: 30px 0;
}
.container {
  /* width: 100%; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.items {
  margin-bottom: 30px;
}

.items span {
  display: block;
}
.items img {
  width: 300px;
  height: 200px;
  flex-grow: 1;
  margin-bottom: 10px;
}
